.custom-text {
  font-size: 1.5rem;
  text-align: left;
}
.custom-bg {
  background: radial-gradient(
    circle,
    rgb(208, 220, 228) 0%,
    rgba(235, 240, 246, 0.845) 100%
  );
}
@media only screen and (min-width: 600px) {
  .nav-settings {
    max-width: 75%;
  }
}

.nav-link,
.navbar-brand {
  color: black;
  margin-inline: 2rem;
}

.title {
  text-align: left;
}

.custom-card {
  min-width: 40px;
  min-height: 12rem;
  background: radial-gradient(
    circle,
    rgb(208, 220, 228) 0%,
    rgba(235, 240, 246, 0.845) 100%
  );
}
.custom-card:hover {
  background: radial-gradient(
    circle,
    rgba(208, 220, 228, 0.624) 0%,
    rgba(235, 240, 246, 0.657) 100%
  );
  transition: 0.7s;
}

.contact-link {
  text-decoration: none;
}

.section-title:nth-child(odd) {
  color: white;
}
