html {
  /* background: linear-gradient(#121420, transparent),
    linear-gradient(to top left, #1b2432, transparent),
    linear-gradient(to top right, #2c2b3c, transparent);
  background-blend-mode: screen; */
  background: #f5ebe0;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}
/* ----------Navigation---------- */
.navbar {
  display: inline;
  font-size: 1.5em;
  margin: 0;
}
.navbar a {
  padding: 1em;
  text-decoration: none;
  float: right;
  color: #313138;
}
.navbar a:hover {
  background-color: rgba(130, 154, 180, 0.527);
  color: rgb(37, 64, 96);
}
#joe-trott {
  float: left;
}
/* ----------Banner---------- */
.header-under-nav {
  display: flex;
  background: #efe4d8;
  border-style: solid;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-color: #403f4c;
  width: 100%;
  height: 8em;
  justify-content: center;
  text-align: center;
  font-size: 2em;
  color: #313138;
}
.header-container {
  margin: auto;
  padding: auto;
  display: flex;
  align-self: flex-end;
}
.header-text {
  display: block;
  text-align: left;
  margin: 1em;
}
#placeholder {
  width: 100px;
  height: auto;
  margin: 1em;
  object-fit: contain;
}
/* ----------Content---------- */
.content {
  font-size: 1.5em;
  color: #313138;
  overflow: hidden;
  max-width: 38em;
  margin: auto;
}
.content section {
  margin: 2em;
  padding: 2em;
  height: 100%;
  border-radius: 40px;
  background-color: #efe4d8;
}
.contact img {
  width: 50px;
  height: auto;
}
#attribute {
  float: right;
  font-size: smaller;
  color: grey;
  text-decoration: none;
}

@media screen and (max-width: 850px) {
  .header-text {
    display: inline-block;
    align-self: flex-end;
  }
}
